<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <img class="mb-4" src="" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="email" class="form-control" formControlName="username" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
  <div class="form-floating">
    <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!profileForm.valid">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2022</p>
</form>
